html
{
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#pokedexcaja
{
    width: 400px;
    height: 500px;
    border: 10px solid gray;
    border-radius: 10px;
    background-image: url('../src/masterball.jpg');
    background-size: cover;
}

#pantalla
{
    width: 200px;
    max-width: 200px;
    height: 200px;
    background-color: lightgray;
    margin: 10px;
    position: relative;
    top: 20px;
	/*background-image: url('../src/masterpix.png');
	background-size: cover;*/
}

#datos
{
    width: 150px;
    max-width: 150px;
    height: 200px;
    background-color: lightpink;
    padding-right: 10px;
    position: relative;
    top: -38%;
    left: 230px;
}

#descripcion
{
    width: 380px;
    max-width: 380px;
    height: 130px;
    background-color: lightsalmon;
    position: relative;
    top: -170px;
    left: 20px;
}

button
{
	border-radius: 30%;
	background-color: yellow;
	color: blue;
	border: 3px solid blue;
}

.inputop
{
	padding: 30px;
	border: none;
	width: 320px;
}